@import '../../../../style/variables';
.red{
  font-size: $description-fs;
  color: red;
}
.form_section {
    width: 60%;
}
.input_wrapper {
    display: flex;
    justify-content: space-between;
}
.checkbox_wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.radio_btn_wrapper {
    display: flex;
    width: 100%;
    border: 1px solid $description-color;
    border-radius: 0.5rem;
    position: relative;
}
.radio_btn_wrapper:first-child {
    margin-right: 2rem;
}
.radio_btn {
    accent-color: $description-color;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1.2rem;
    margin-bottom: 3rem;
    border-top: 1px solid $dark-color;
    border-bottom: 1px solid $dark-color;
}
.shipping_title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    color: $dark-color;
    font-size: 2.4rem;
    line-height: 4.8rem;
    text-transform: uppercase;
}
.inputs_wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid $dark-color;
}
.input:first-child {
    margin-right: 2rem;
}
.input {
    border: 1px solid $description-color;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 0.5rem;
    color: $description-color;
    padding: 0.8rem 1rem 0.8rem 2rem;
}
.select {
    width: 100%;
    color: $description-color;
    padding: 5px;
}

.select_wrapper {
    position: relative;
    // display: flex;
    width: 100%;
    border: 1px solid $description-color;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem 0.8rem 2rem;
    margin-right: 2rem;
}
.select_wrapper::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 3.4rem;
    top: 0;
    background-color: $description-color;
}
.input_area {
    width: 100%;
    padding: 5px;
}
.checkbox_title {
    color: $dark-color;
    font-size: 18px;
    margin-bottom: 1.2rem;
}
.checkbox_text {
    color: $description-color;
    font-size: $description-fs;
}
.radio_btn_wrapper input:checked + div{
    background: $dark-color;
}
.radio_btn_wrapper input:checked + div h2{
  color: white;
}
.btn_text_wrapper {
    padding: 3rem 0 3rem 7rem;
    width: 100%;

}
.form_label{
  position: relative;
}