@import './style/variables';
@import './style/mixins.scss';

:global * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:global html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

// TECH CLASSES
:global .container {
    @include content-container;
}