@import '../../../../style/mixins';
@import '../../../../style/variables';
.row {

    &UserName {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &NoneLarge {
        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    &NoneMedium {
        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }
    
    &NoneSmall {
        @media only screen and (max-width: $bp-small) {
            display: none;
        }
    }
    
    &UserName {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &DeleteBtn {
        display: flex;
        justify-content: center;

        & button {
            background-color: transparent;
            transition: transform .2s ease-in;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    & td {
        padding: 1rem;

        & img {
            width: 5rem;
            height: auto;

            @media only screen and (max-width: $bp-medium) {
                width: 3rem;
            }
            @media only screen and (max-width: $bp-small) {
                width: 5rem;
            }
        }
    }

    &TextCenter {
        text-align: center;
    }
}
