@import '../../../../style/mixins';
.tabsMain {
    width: 100%;
    height: 10rem;
    background: #373f41;
    margin-bottom: 8rem;
}
.tabsNav {
    @include content-container;
    //max-width: 1180px;
    //margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        border-bottom: 0.11rem solid white;
        top: 6.9rem;
    }
}
.tabsLink {
    @include muli-font-normal;
    padding: 2rem;
    width: 39.3rem;
    color: #949697;
    font-size: 14px;
    line-height: 24px;
    background-color: #373f41;
    text-align: center;
}
.tabsActive {
    color: white;
    border-bottom: 0.52rem solid white;
}
