@import "../../style/variables";
@import "../../style/mixins";

.carousel {
    max-width: 52.5rem;

    & :global .control-prev {
        &::before {
            background-image: url('./arrow-prev.svg');
        }
    }
    
    & :global .control-next {
        &::before {
            background-image: url('./arrow-next.svg');
        }
    }

    & :global .carousel.carousel-slider .control-arrow {
        width: 3.5rem;
        height: 6.4rem;
    }

    & :global .carousel .slide img {
        width: 99.2%;
    }

}

:global .carousel .thumbs-wrapper {
    margin: 0 !important;
    margin-top: 2.3rem !important;
}

:global .carousel .thumbs {
    display: flex;
    justify-content: space-between;
}

:global .carousel .thumb {
    width: 15rem !important;
    cursor: pointer;
}

:global .carousel .thumb.selected, 
:global .carousel .thumb:hover {
    border: 1px solid $dark-color;
}


