.h2 {
    @include abel-font-normal;
    font-size: 3.2rem;
    text-transform: uppercase;

    &--dark {
        background-color: $dark-color;
        color: $light-color;
    }
}

.p {

    &--dark {
        background-color: $dark-color;
        color: $light-color;
        padding: .7rem 1.2rem;
        font-size: 1.6rem;
    }
}