@import '../../style';
@import 'style/_mixins.scss';

.flexBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.favBtn,
.removeBtn {
    @include muli-font-normal;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mainTxtColor;
    padding: 0;
    margin: 0;
    background: none;
}

.favBtn {
    margin-bottom: 25px;
    width: 217px;
}
