@import '../../../../style/mixins';
@import '../../../../style/variables';
.wrapper {
    padding: 2rem 5rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
    padding-top: 2rem;
    gap: 1rem;

    &Input {
        border: $border-dark;
        display: block;
        width: 50%;
        font-size: 1.8rem;
        padding: 5px;
    }

    &InputUrl {
        width: 100%;
    }

    &Select {
        border: 1px solid blue;
    }

    &Label {
        text-transform: capitalize;
    }

    &Error {
        font-size: 1.8rem;
        color: #df2e2e;
    }
}
