@import '../../../../style/mixins';
@import '../../../../style/variables';

.inputs {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & span {
        @include muli-font-normal;
        font-size: $description-fs;
        color: $dark-color;
    }
    & input {
        color: $dark-color;
        padding: 0.1rem 2.7rem;
        width: 8rem;
        border: 1px solid $dark-color;
        display: inline;
        @include muli-font-normal;
        font-size: $description-fs;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}
