.container {
  max-width: 1440px;
  padding: 0 130px;
  border-bottom: #373F41 1px solid;
}
.header{
  display: flex;
  justify-content: space-between;

}
.logo {
margin-top: 10px;

}

.header_nav {
  display: flex;
  align-items: center;
  color: #373F41;

}

.header_list {
  display: flex;
  margin-right: 40px;
}

.header_list_item {
  margin-right: 32px;
  font-size: 16px;
}

.header_list_item a {
  color: #373f41;
  text-decoration: none;
}
.openBtn{
  margin-left: 5px;
}
.header_buttons {
  display: flex;
  align-items: center;
}

.header_buttons_profile svg {
  width: 20px;
  height: 20px;
  margin-right: 28px;
}

.header_buttons_favorite svg {
  width: 20px;
  height: 18px;
  margin-right: 28px;

}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 379px;
 }
 
 .input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  outline: none;
  color: #0d0c22;
  transition: .3s ease;
  border-bottom: #373F41 1px solid;
  margin-right: 54px;
  font-size: 16px;
 }
 
 .input::placeholder {
  color: #373F41;
 }
 
 .input:focus, input:hover {
 
  background-color: #fff;

  border-bottom: #373F41 2px solid;

 }
 
 .icon {
  position: absolute;
  right: 4rem;
  fill: #373F41;
  width: 1.3rem;
 }

//  --------------------adaptive------------------------------
@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .header_nav {

  }
  .header_buttons {

  }
  .openBtn {
    display: block;
  }
  .group {
    width: 100%;
  }
  .input {
    margin-right: 0;
  }
  .icon {
    right: 2rem;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding: 0 50px;
  }
}


@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 130px;
  }
}