@import '../../../../style/mixins';
@import '../../../../style/variables';

.AdminProducts {

    &ShowSwitcher {
        position: absolute;
        top: -3.7rem;
        right: 0;
    }

    &ShowBtn {
        @include abel-font-normal;
        font-size: 1.6rem;
        cursor: pointer;
        background-color: transparent;
        border: $border-dark;
        transition: all .2s;

        &:hover {
            background-color: $dark-color;
            color: $light-color;
        }

        &:disabled {
            color: $lightGrey;
            background-color: transparent;
            border: $border-grey;
        }

        &List {
            padding: .6rem 1.5rem;
            margin-right: .5rem;
        }

        &Table {
            padding: .6rem 1rem;
        }

    }

}